*.db
*sql.zip
.DS_Store
.atom
.bundle
.docker
.env
.env.development
.envrc
.gem/credentials
.idea
.ipynb_checkpoints
.ipython/profile_default/history.sqlite
.jupyter
.netrc
.sass-cache
.ssh
.ssh/config
.tags
.tmuxinator
.vagrant
.vscode
.wakatime.cfg
better_errors.rb
bq_credentials.json
docker-compose.local.yml
keyfile.json
vendor
Alfread
bitbar
JetBrains
Library
.zprofile
