[user]
	name = saboyutaka
	email = yutaka.paradigm.shift@gmail.com
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim -c \"set fenc=utf-8\"
  filemode = false
[merge]
  ff = false
[pull]
  rebase = true
[bash]
  showDirtyState = true
[alias]
  empty-commit = commit --allow-empty -m \"[empty commit]\"
  open = browse
  kakusu = update-index --skip-worktree
  no-kakusu = update-index --no-skip-worktree
  kakusu-list = ls-files -v
  cb = rev-parse --abbrev-ref HEAD
  unstage = rm --cached

[ghq]
  root = /Users/yutaka/Development/src
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

