alias up='cd ..'
alias upp='cd ../../'
alias uppp='cd ../../../'
alias cdr='cd `git rev-parse --show-toplevel`'
alias ls='ls -G --color'
alias ll='ls -l'
alias lla='ll -a'
alias less='less -R'

#Git aliases
alias g='git'
alias ga='git add'
alias gg='display_git_branch_and_wip_files'
alias gd='git diff '
alias gdc='git diff --cached'
alias gc='git checkout'
alias gcm='gc master'
alias gcp='gc -'
alias gpoc='git push origin `gitcurrentbranch`'
alias gs='git stash'
alias gsp='git stash pop'
alias gl='git log'
alias glf='git log --follow'
alias glg='git log --graph --pretty=oneline --abbrev-commit'
alias gwip="git commit -m '[WIP]'"
alias grh='git reset HEAD'
alias grh^='git reset HEAD^'
alias grc='git rebase --continue'
alias gpr='git pull --rebase;gbd_merged'
alias gitcurrentbranch='git rev-parse --abbrev-ref HEAD'
alias git_latest_tag='git describe --tags $(git rev-list --tags --max-count=1)'
alias gitlocalignore='git update-index --assume-unchanged'
alias gitlocalignorereset='git update-index --no-assume-unchanged'
alias gbd_merged="git branch --merged | grep -v '^\*' | grep -v '^  master$' | grep -v '^  develop$' | xargs git branch -d"

alias be='bundle exec'

alias art='php artisan'
